  <h3 class="text-center">Edit Follow Up Item</h3>
  <%= turbo_frame_tag dom_id(@list) do %>
    <div class="container">
      <br />
      <%= render 'form', list: @list %>
      <br />
      <%= link_to 'Back', lists_path, class: "custom-link" %>
      <br />
      <br />
    </div>
  <% end %>