<%= turbo_frame_tag dom_id(meeting) do %>
  <div class="card">
    <div class="d-flex justify-content-between align-items-center">
    <h4><%= link_to meeting.title, edit_meeting_path(meeting), class:"custom-link" %></h4>
      <%= button_to meeting_path(meeting), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link text-danger text-right", style: "padding: 0; border: none; background: none;" do %>
        <i class="bi bi-trash3"></i>
      <% end %>
      </div>
    <p><%= meeting.body %></p>


    <style>
      .card {
        padding: 40px;
        margin: 20px 0;
        background-color: whitesmoke;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

    </style>
  </div>
<% end %>
